<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>computer</title>
</head>
<body>
<h1>+5 минут компьютера</h1>
<form action='/comic' method='GET'>
    <h1><input type="text" name="password" autofocus /></h1>
    <h1><input class="btn btn-danger" type="submit" value="ПОЛУЧЕНО!"></h1></form>
</form>
</body>
</html>