<!DOCTYPE html>
<html lang="en">
<html>
<head>
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>main</title>
</head>
<body>
<div class="btn-group-lg" role="button" aria-label="Basic example">
    <a class="btn btn-success" type="submit" href="http://127.0.0.1:8086/"><h1>ИГРА</h1></a>
    <a class="btn btn-success" type="submit" href="http://127.0.0.1:8086/shop"><h1>МАГАЗИН</h1></a>
    <a class="btn btn-success" type="submit" href="http://127.0.0.1:8086/table"><h1>ПОМОЩЬ</h1></a>
</div>
<p></p>
<div class="card" style="width: 500;height: 430">
    <img src="http://purmix.ru/images/uroki/karand/priroda/kak_narisovat_dzhungli_na_bumage_karandashom.jpg" class="card-img-top">
    <div class="card-body">
        <h2 class="card-title">Это джунгли Амазонки!</h2>
        <p class="card-text"><h2>Здесь живет множество обезьянок!</h2>
        <a class="btn btn-primary btn-lg" style="width: 200px;height: 70px;margin-top: 15px;" href="http://127.0.0.1:8086/cht" role="button"><h1>ИГРАТЬ</h1></a>
        <a class="btn btn-danger btn-lg" style="margin-top: 15px;" href="http://127.0.0.1:8086/info" role="button">СПРАВКА</a>
    </div>
</div>
</body>
</html>
