<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>shaxta</title>
</head>
<body>
<div class="btn-group-lg" role="button" aria-label="Basic example">
    <a class="btn btn-success" type="submit" href="http://127.0.0.1:8088/"><h1>ИГРА</h1></a>
    <a class="btn btn-success" type="submit" href="http://127.0.0.1:8088/shop"><h1>МАГАЗИН</h1></a>
    <a class="btn btn-success" type="submit" href="http://127.0.0.1:8088/table"><h1>ПОМОЩЬ</h1></a>
    <a class="btn btn-success" type="submit" href="http://127.0.0.1:8088/shaxta"><h1>ШАХТА</h1></a>
    <a class="btn btn-success" type="submit" href="http://127.0.0.1:8088/mag"><h1>УРОВНИ</h1></a>
</div>
<p></p>
<div class="btn-group-lg" role="button">
    <a class="btn btn-light btn-lg btn-block" style="height: 50px"><strong><h3>Уголь - 1<img style="height: 22px;" src="https://png.icons8.com/color/50/000000/coins.png"></h3></strong></a>
    <a class="btn btn-success btn-lg btn-block" style="height: 90px"><strong><h3>Железо - 2<img style="height: 22px;" src="https://png.icons8.com/color/50/000000/coins.png"></h3></strong></a>
    <a class="btn btn-warning btn-lg btn-block" style="height: 140px"><strong><h3>Золото - 5<img style="height: 22px;" src="https://png.icons8.com/color/50/000000/coins.png"></h3></strong></a>
    <a class="btn btn-danger btn-lg btn-block" style="height: 175px"><strong><h3>Алмазы - 10<img style="height: 22px;" src="https://png.icons8.com/color/50/000000/coins.png"></h3></strong></a>
</div>
</body>
</html>