<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Shop</title>
</head>
<body>
<div class="btn-group-lg" role="button" aria-label="Basic example">
    <a class="btn btn-success" type="submit" href="http://127.0.0.1:8088/"><h1>ИГРА</h1></a>
    <a class="btn btn-success" type="submit" href="http://127.0.0.1:8088/shop"><h1>МАГАЗИН</h1></a>
    <a class="btn btn-success" type="submit" href="http://127.0.0.1:8088/table"><h1>ПОМОЩЬ</h1></a>
    <a class="btn btn-success" type="submit" href="http://127.0.0.1:8088/shaxta"><h1>ШАХТА</h1></a>
    <a class="btn btn-success" type="submit" href="http://127.0.0.1:8088/mag"><h1>УРОВНИ</h1></a>
</div>
<p></p>
<h2>У вас: {}<img style="height: 30px;" src="https://png.icons8.com/color/50/000000/coins.png"></h2>
<div class="card-group">
    <div class="card" style="min-width: 280px; max-width: 330px; background-size: cover;">
        <div class="card-body" style="background-color: rgba(255,255,255,0.9);">
            <h3 style="margin-top: 15px; font-weight: 300;" class="card-title">Карандаш</h3>
            <p class="card-text" style="font-size: 0.8rem;"></p>
            <a class="{{pencil}}btn btn-primary" href="http://127.0.0.1:8088/pencil">Купить за 60 <img style="height: 20px;" src="https://png.icons8.com/color/50/000000/coins.png"></a>
        </div>
    </div>
    <div class="card" style="min-width: 280px; max-width: 330px; background-size: cover;">
        <div class="card-body" style="background-color: rgba(255,255,255,0.9);">
            <h3 style="margin-top: 15px; font-weight: 300;" class="card-title">Конфета</h3>
            <p class="card-text" style="font-size: 0.8rem;"></p>
            <a href="http://127.0.0.1:8088/sweet" class="{{sweet}}btn btn-primary">Купить за 30 <img style="height: 20px;" src="https://png.icons8.com/color/50/000000/coins.png"></a>
        </div>
    </div>
    <div class="card" style="min-width: 280px; max-width: 330px; background-size: cover;">
        <div class="card-body" style="background-color: rgba(255,255,255,0.9);">
            <h3 style="margin-top: 15px; font-weight: 300;" class="card-title">Распечатка</h3>
            <p class="card-text" style="font-size: 0.8rem;"></p>
            <a href="http://127.0.0.1:8087/pnt" class="{{pint}}btn btn-primary">Купить за 50 <img style="height: 20px;" src="https://png.icons8.com/color/50/000000/coins.png"></a>
        </div>
    </div>
    <div class="card" style="min-width: 280px; max-width: 330px; background-size: cover;">
        <div class="card-body" style="background-color: rgba(255,255,255,0.9);">
            <h3 style="margin-top: 15px; font-weight: 300;" class="card-title">+5 минут компьютера</h3>
            <p class="card-text" style="font-size: 0.8rem;"></p>
            <a href="http://127.0.0.1:8088/comic" class="{{comp}}btn btn-primary">Купить за 100 <img style="height: 20px;" src="https://png.icons8.com/color/50/000000/coins.png"></a>
        </div>
    </div>
    <div class="card" style="min-width: 280px; max-width: 330px; background-size: cover;">
        <div class="card-body" style="background-color: rgba(255,255,255,0.9);">
            <h3 style="margin-top: 15px; font-weight: 300;" class="card-title">5 минут мультиков</h3>
            <p class="card-text" style="font-size: 0.8rem;"></p>
            <a class="{{wer}}btn btn-primary" href="http://127.0.0.1:8088/multi">Купить за 100 <img style="height: 20px;" src="https://png.icons8.com/color/50/000000/coins.png"></a>
        </div>
    </div>
    <div class="card" style="min-width: 280px; max-width: 330px; background-size: cover;">
        <div class="card-body" style="background-color: rgba(255,255,255,0.9);">
            <h3 style="margin-top: 15px; font-weight: 300;" class="card-title">+10 минут компьютера</h3>
            <p class="card-text" style="font-size: 0.8rem;"></p>
            <a class="{{mulcomp}}btn btn-primary" href="http://127.0.0.1:8088/mulcomic">Купить за 190 <img style="height: 20px;" src="https://png.icons8.com/color/50/000000/coins.png"></a>
        </div>
    </div>
</div>
</body>
</html>