<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>WIN</title>
</head>
<body>
    <a class="btn btn-light btn-lg" style="width: 250px;height: 160px;margin-top: 15px;" role="button"><h1>Молодец! Ты прошел игру!</h1></a>
    <p></p>
    <a class="btn btn-primary btn-lg" style="width: 250px;height: 125px;margin-top: 15px;" href="http://127.0.0.1:8088/" role="button"><h1><p>Играть еще!</h1></a>
</body>
</html>